@import '../../index.scss';

.aside {
     background-color: $main-dark-color;
     position: fixed;
     top: 0;
     height: 100%;
     width: $nav-width;
     display: flex;
     margin-top: 60px;
     color: #dedede;

     border: 1px solid white;
     box-sizing: border-box;

     overflow-y: auto;

}