@import './index.scss';

.main {
     background: lighten($main-dark-color, 10);
     margin-left: $nav-width;
     min-height: 100vh;
}

// :not([data-component="NavbarComponent"]) {

//      .navbar#{&} {
//           background: green !important;
//      }
     
// }