@import './reset.scss';

$main-dark-color: #242e29;
$nav-width: 300px;
$nav-height: 60px;


body {
     color: white;
}


.global-button {
     padding: 10px;
     border-radius: 5px;
     outline: none;
     background: #d2d2d2;
     border: 2px solid #a5a5a5;
     box-shadow: inset -3px -3px 10px 0px rgba(0, 0, 0, 0.5);
     transition: 0.2s;

     &--orange {
          background: #d29c57;
          border: 2px solid #966d38;
          color: #eaeaea;
     }

     &--red {
          background: #cc7070;
          border: 2px solid #9a4646;
          color: #eaeaea;
     }


     &:active {
          transform: translate(3px, 3px);
          box-shadow: inset 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
     }

}


.global-section {

     padding-top: 70px;

     &__header {
          position: fixed;
          top: 0;

          width: 100%;
          background: lighten($main-dark-color, 5);
          height: $nav-height;

          border: 1px solid white;
          box-sizing: border-box;
     }
}


::-webkit-scrollbar {
     width: 12px;
 }
  
 ::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
     border-radius: 10px;
     background: rgba(255, 255, 255, 0.5);
 }
  
 ::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
 }