.loading {

     width: 100px;
     height: 100px;
     background: transparent;
     border-radius: 50%;
     opacity: 0.2;
     box-sizing: border-box;

     border: 20px solid #ffffff;
     border-right: 20px solid transparent;

     margin: 0 auto;
     margin-top: 30px;

     animation-name: spin;
     animation-duration: 1.5s;
     animation-iteration-count: infinite;

     position: relative;


     &__csharp {
          color: white;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          font-weight: 800;
          font-size: 70px;
          right: -40px;
     }
}


@keyframes spin {

     from   {
 
          transform: rotate(0);
     }

     to  {
 
          transform: rotate(360deg);

     }
}